html {
  scroll-behavior: smooth;
}
* {
    text-decoration: none!important;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}
noscript {
    color: black;
}
.page-container{ 
    min-height: 100vh; 
    margin: 0; 
    display:flex; 
    flex-direction:column; 
    background-color: #15141A;
}

.head{ 
    min-height:50px; 
}
.foot{ 
    min-height:50px; 
}
.out{ 
    flex:1; 
}
.youtube {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    margin: auto;
    padding: 0% 0% 56.25%;
    overflow: hidden;
}
.youtube iframe {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
p {
    font-size: 18px;
}
.date {
    font-style: italic;
    font-size: 14px;
}
.desc {
    font-style: italic;
    font-size: 14px;
    text-align: center;
}
.pointer {
    cursor: pointer;
}
.totop {
  width: 40px; 
  height: 40px; 
  padding: 0; 
  display: flex; 
  align-items: center;
  justify-content: center;
}
